img{
    height: 100px;
    width: 100px;
}

a {
    text-decoration: none;
}

.menu{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

button{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.h1_class{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.p_class{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.h3_class{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}